In [1]:
import pandas as pd

In [108]:
portfolio = pd.read_csv('portfolio_new.csv')
portfolio.drop(columns = ['Unnamed: 0'],inplace=True)

In [109]:
profile = pd.read_csv('profile_new.csv')
profile.drop(columns = ['Unnamed: 0'],inplace=True)

In [110]:
transaction = pd.read_csv('transcript_clean.csv')
transaction.drop(columns = ['Unnamed: 0'],inplace=True)

In [111]:
transaction.head()

,person,offer_id,offer_received_time,offer_viewed_time,offer_completed_time,transaction_time,offer_received,offer_viewed,offer_completed,transaction,reward,amount,influenced
0,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,168,192,0,0,1,1,0,0,0,0.00,0
1,0009655768c64bdeb2e877511632db8f,NaN,0,0,0,228,0,0,0,1,0,22.16,0
2,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,336,372,0,0,1,1,0,0,0,0.00,0
3,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,408,456,414,414,1,1,1,0,0,8.57,0
4,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,504,540,528,528,1,1,1,0,0,14.11,0

In [112]:
transaction = transaction.groupby(['person', 'offer_id'], as_index=False).sum()

In [113]:
transaction.influenced.replace(to_replace=2, value=1, inplace=True)
transaction.influenced.replace(to_replace=3, value=1, inplace=True)

In [115]:
transaction.drop(columns=['offer_received_time', 'offer_viewed_time', 'offer_completed_time',
                              'transaction_time'],
                     inplace=True)

In [118]:
print(portfolio.columns)
print(profile.columns)
print(transaction.columns)

Index(['offer_code', 'difficulty', 'duration', 'id', 'reward',
       'offer_type_bogo', 'offer_type_discount', 'offer_type_informational',
       'email', 'web', 'social', 'mobile'],
      dtype='object')
Index(['age', 'id', 'income', 'gender_F', 'gender_M', 'gender_O',
       'became_member_on_year', 'became_member_on_month',
       'became_member_on_date'],
      dtype='object')
Index(['person', 'offer_id', 'offer_received', 'offer_viewed',
       'offer_completed', 'transaction', 'reward', 'amount', 'influenced'],
      dtype='object')

In [119]:
profile['id'].unique()

array(['0610b486422d4921ae7d2bf64640c50b',
       '78afa995795e4d85b5d9ceeca43f5fef',
       'e2127556f4f64592b11af22de27a7932', ...,
       '01d26f638c274aa0b965d24cefe3183f',
       '9dc1421481194dcd9400aec7c9ae6366',
       'e4052622e5ba45a8b96b59aba68cf068'], dtype=object)

In [117]:
transaction['person'].unique()

array(['0009655768c64bdeb2e877511632db8f',
       '00116118485d4dfda04fdbaba9a87b5c',
       '0011e0d4e6b944f998e987f904e8c1e5', ...,
       'fff8957ea8b240a6b5e634b6ee8eafcf',
       'fffad4f4828548d1b5583907f2e9906b',
       'ffff82501cea40309d5fdd7edcca4a07'], dtype=object)

In [121]:
transaction = transaction.merge(profile, left_on='person', right_on='id')

In [122]:
transaction.drop(columns=['person', 'id'], inplace=True)

In [123]:
transaction = transaction.merge(portfolio, left_on=['offer_id'], right_on=['id'], how='left')

In [124]:
transaction.drop(columns=['offer_received', 'offer_viewed', 'offer_completed', 'transaction', 'offer_id', 'id','reward_y'],
               inplace=True)

In [125]:
transaction.head()

,reward_x,amount,influenced,age,income,gender_F,gender_M,gender_O,became_member_on_year,became_member_on_month,...,offer_code,difficulty,duration,offer_type_bogo,offer_type_discount,offer_type_informational,email,web,social,mobile
0,2,10.27,0,33,72000.0,0,1,0,2017,4,...,10,10,7,0,1,0,1,1,0,1
1,0,0.00,0,33,72000.0,0,1,0,2017,4,...,3,0,4,0,0,1,1,1,0,1
2,0,0.00,0,33,72000.0,0,1,0,2017,4,...,8,0,3,0,0,1,1,0,1,1
3,0,8.57,0,33,72000.0,0,1,0,2017,4,...,9,5,5,1,0,0,1,1,1,1
4,0,14.11,0,33,72000.0,0,1,0,2017,4,...,7,10,10,0,1,0,1,1,1,1

In [126]:
transaction.fillna(0, inplace=True)

In [128]:
transaction.columns.to_list()

['reward_x',
 'amount',
 'influenced',
 'age',
 'income',
 'gender_F',
 'gender_M',
 'gender_O',
 'became_member_on_year',
 'became_member_on_month',
 'became_member_on_date',
 'offer_code',
 'difficulty',
 'duration',
 'offer_type_bogo',
 'offer_type_discount',
 'offer_type_informational',
 'email',
 'web',
 'social',
 'mobile']

In [129]:
transaction[['difficulty', 'duration', 'bogo', 'discount', 'informational', 'email', 'mobile', 'social', 'web',
                 'offer_code']] = transaction[
        ['difficulty', 'duration', 'offer_type_bogo', 'offer_type_discount', 'offer_type_informational', 'email', 'mobile', 'social', 'web',
         'offer_code']].astype(int)

In [130]:
transaction.rename(columns={'reward_x': 'reward'}, inplace=True)

In [138]:
transaction.columns.to_list()

['reward',
 'amount',
 'influenced',
 'age',
 'income',
 'gender_F',
 'gender_M',
 'gender_O',
 'became_member_on_year',
 'became_member_on_month',
 'became_member_on_date',
 'difficulty',
 'duration',
 'offer_type_bogo',
 'offer_type_discount',
 'offer_type_informational',
 'email',
 'web',
 'social',
 'mobile',
 'bogo',
 'discount',
 'informational',
 'offer_code_1',
 'offer_code_2',
 'offer_code_3',
 'offer_code_4',
 'offer_code_5',
 'offer_code_6',
 'offer_code_7',
 'offer_code_8',
 'offer_code_9',
 'offer_code_10']

In [135]:
transaction['offer_code'].unique()

array([10,  3,  8,  9,  7,  5,  6,  4,  2,  1])

In [136]:
transaction = pd.get_dummies(transaction, columns=['offer_code'])

In [139]:
transaction = transaction[['age', 'income', 'gender_F', 'gender_M', 'gender_O', 'became_member_on_year',
                               'became_member_on_month', 'became_member_on_date', 'difficulty', 'duration',
                               'bogo', 'discount', 'informational', 'email', 'mobile', 'social', 'web', 'reward',
                               'amount', 'influenced', 'offer_code_1', 'offer_code_2', 'offer_code_3',
                               'offer_code_4', 'offer_code_5', 'offer_code_6', 'offer_code_7', 'offer_code_8',
                               'offer_code_9', 'offer_code_10']]

In [140]:
transaction.to_csv('transaction_final1.csv')